.jumbotron {
  background-color: #c3c9c9;
  text-align: center;
  font-size: 64px;
  font-family: monospace;
  text-decoration: underline;
}

#city-name {
  width: 300px;
}

#input-text {
  font-family: monospace;
  font-size: 24px;
}

div {
  padding: 30px;
}

.card-header {
  background-color: #9ba3b0;
  font-family: monospace;
  font-size: 24px;
  text-align: center;

}

.card-body {
  background-color: #c0c2c4;
  height: 400px;
  overflow: scroll;
}

.container {
  background-color: #dedede;
}
#subtitle {
  font-size: 32px;
}

.business-container {
  padding: 0px;
  overflow: hidden;
}

.business-link {
  padding: 10px;
  display: block;
}

.business-image {
  width: 100px;
  margin: 10px;
  float: left;
  height: auto;
}

#map{
  padding: 0px;
  top: -60px;
  left: -60px;
  position: relative;
  height: 115%;
  width: 115%;
}
#windy{
  height: 400px;
}
